# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist
.vscode
.yarn/install-state.gz

# Node dependencies
node_modules
package-lock.json
yarn.lock

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example
